<?xml version="1.0" encoding="UTF-8"?>

<suite name="Basic Unit TestNG Suite" verbose="${testng.verbosity}">
 	<test name="JUnit Unit Test" junit="true">
		<packages>
			<package name="com.vmware" />
		</packages>
	</test>
	<test name="TestNG Unit Test" junit="false">
		<packages>
			<package name="com.vmware" />
		</packages>
	</test>
</suite>